<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="container">
    <div class="title">Chatbox</div>
    <textarea id="chat-box" readonly></textarea>
    <div class="input-area">
        <input type="text" id="message" placeholder="Type a message...">
        <button onclick="sendMessage()">Send</button>
    </div>
</div>

<script>
    var socket = io.connect('http://localhost:5000');
    var socket = io.connect('http://127.0.0.1:5000');

    var userName = prompt("Please enter your name to proceed with the chat");  // Prompt user for name on page load

    socket.on('connect', function() {
        socket.send(userName + ' has connected!');  // Use userName here
    });

    socket.on('message', function(data) {
        $('#chat-box').val($('#chat-box').val() + '\n' + data);
        $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);  // Auto-scroll to bottom
    });

    function sendMessage() {
        var messageToSend = userName + ": " + $('#message').val();
        socket.send(messageToSend);
        $('#message').val('');
    }
</script>

</body>
</html>
